{% if theme == 'dos' %}
	<div class="app-main-log app-main-log--dos" {% if hide %} style="display: none;" {% endif %}>
		{% if logMessage is not empty %}
			<div class="log ">{{ logMessage }}</div>
		{% endif %}
	</div>
{% elseif theme == 'ps' %}
	<div class="app-main-log app-main-log--ps" {% if hide %} style="display: none;" {% endif %}>
		{% include '../partials/buttons.twig' with { 
			buttons: [ { id: 'copyToClipboard', style: 'log', label: 'Copy to clipboard' } ],
			wrapper: false
		} %}
		<div class="app-main-log__log">
			{% if logMessage is not empty %}
				<strong>{{ logMessage }}</strong>
			{% else %}
				<strong>Connection Successful!</strong>
			{% endif %}
		</div>
	</div>
{% endif %}
