<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}W.I.L.L.Y
			{% endblock %}
		</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}

		{% block scripts %}{% endblock %}
	</body>
</html>
