<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				W.I.L.L.Y 0.3
			{% endblock %}
		</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<main class="app-main">
			<div class="app-main__sidebar">
				<svg height="100" width="100" xmlns="http://www.w3.org/2000/svg">
					<circle r="45" cx="50" cy="50" fill="transparent"/>
				</svg>
				{% block sideContent %}
					{#   #}
				{% endblock %}
				<ul class="app-main__sidebar-nav">

					<li class="app-main__sidebar-nav-item">
						<a class="app-main__sidebar-nav-item-link app__button" href="https://github.com/Brackstonian/W.I.L.L.Y/issues/new">Report Bug</a>
					</li>
					<li class="app-main__sidebar-nav-item">
						<a class="app-main__sidebar-nav-item-link app__button" href="https://github.com/Brackstonian/W.I.L.L.Y/issues/new">Feature Request</a>


					</li>
					<li class="app-main__sidebar-nav-item">
						<a class="app-main__sidebar-nav-item-link app__button" href="https://github.com/Brackstonian/W.I.L.L.Y/wiki">Help</a>
					</li>
				</ul>
			</div>

			<div class="app-main__content">
				{% block content %}
					{#  #}
				{% endblock %}
			</div>
		</main>
		<script src="{{ assetPath }}/js/externalLink.bundle.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
