<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}W.I.L.L.Y 0.2.01
			{% endblock %}
		</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<div class="cursor"></div>
		{% block content %}{% endblock %}

		{% block scripts %}{% endblock %}
	</body>
</html>
