<div id="log-zone-ps" class="app_log-zone app_log-zone--ps" style="display: none;">
	<button class="log__button">Copy to clipboard</button>
	<div class="app_log-zone-log">
		<strong>Connection Succesful!</strong>
	</div>
</div>
