{# todo #}


{% extends '../layouts/base.twig' %}

{% block title %}W.I.L.L.Y Share ID
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/shareModal.css">
{% endblock %}

{% block content %}
	<div id="shareModal" class="modal-main modal__shareModal">
		<div class="modal-content">
			<h1 class="sharePage__title">Share ID.</h1>

			<p id="modalText">Share this ID :
				<strong>{{id}}<strong></p>
					<button id="copyToClipboard" data-shareid="{{id}}" class="modal__button">Copy to clipboard</button>
				</div>
			</p>
		</div>

	{% endblock %}


	{% block scripts %}
		<script src="{{ assetPath }}/js/shareModal.bundle.js"></script>
	{% endblock %}
