<div class="app-main-video-player localVideo__inner">
	<video class="localVideo__local-video localVideo" id="localVideo" autoplay playsinline></video>
	<canvas class="localVideo__drawing-canvas drawingCanvas" id="drawingCanvas"></canvas>
</div>
