<div id="videoContainer" class="video-container__inner">

	<video class="video-container__local-video localVideo" id="localVideo" autoplay playsinline></video>
	<canvas class="video-container__drawing-canvas drawingCanvas" id="drawingCanvas"></canvas>
</div>
