<!DOCTYPE html>
<html>

<head>
    <title>W.I.L.L.Y</title>
    <link rel="stylesheet" type="text/css" href="../public/home.css">
</head>

<body>
    <main class="app-main homePage">
       <div class="homePage__inner">
            <h1 class="homePage__title">W.I.L.L.Y</h1>
            <h6 class="homePage__version">Version: 0.1.2</h6>

            <div class="homePage__function-selector">
                <div class="homePage__function-selector-inner">
                    <div class="homePage__function-selector-left">
                        <button class="app__button" onclick="location.href='share.html'">Share Screen</button>
                    </div>
                    <div class="homePage__function-selector-right">
                        <button class="app__button" onclick="location.href='view.html'">View Screen</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="../public/home.bundle.js"></script>
</body>

</html>