<!DOCTYPE html>
<html>

<head>
    <title>W.I.L.L.Y PRE-ALPHA</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>

    <h1>W.I.L.L.Y</h1>
    <h4>WebRTC Interactive Live Layer Yard</h4>
    <h6>Version: pre-alpha-1.0.0</h6>

    <div id="screen-picker">
        <ul id="screen-list"></ul>
    </div>

    <div id="videoContainer">
        <video id="localVideo" autoplay playsinline></video>
        <canvas id="drawingCanvas"></canvas>
    </div>

    <div id="uniqueId"></div>

    <h3>Share Screen</h3>
    <button id="shareButton">Share</button>
    
    <h3>Watch Screen</h3>
    <input id="inputField" type="text">
    <button id="viewButton">View</button>

    <div id="uniqueId"></div>

    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="../src/renderer.js"></script>

</body>

</html>