<!DOCTYPE html>
<html>

<head>
    <title>View Screen</title>
    <link rel="stylesheet" type="text/css" href="../public/view.css">
</head>

<body>
    <main class="app-main viewPage">
        <h1 class="viewPage__title">View a Screen</h1>
        <div class="viewPage__input-wrapper">
            <input placeholder="Input Share ID" id="inputField" type="text">
            <button id="viewButton" class="app__button viewPage__button--connect">Connect</button>
        </div>
        <div class="viewPage__button-wrapper">
            <button class="app__button viewPage__button" onclick="location.href='index.html'">Go Back</button>
        </div>

            <div id="videoContainer" class="videoContainer">
                <video class="localVideo" id="localVideo" autoplay playsinline></video>
                <canvas class="drawingCanvas" id="drawingCanvas"></canvas>
            </div>
    </main>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="../public/view.bundle.js"></script>
</body>

</html>