@import "../layouts/base.scss";
@import "../partials/button.scss";


.homePage {
  &__inner {
    height: 100vh;
  }

  &__title {
    font-size: 3em;
    line-height: 1em;
    
  }

  &__function-selector-inner {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &__function-selector-left {
    width: 50%;

  }
  &__function-selector-right {
    width: 50%;

  }
}