@import "../layouts/base.scss";
@import "../partials/button.scss";


.app-main-home {

  &__function-selector-inner {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}