@import "../layouts/base.scss";
@import "../partials/button.scss";

@import "../components/video-player.scss";

.viewPage {
    min-height: 100vh;

    &__title {
        font-size: 4em;
    }

    &__button-wrapper {
        text-align: left;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: row;
        width: 26em;
        gap: 2em;
        margin: 2em 0;
    }

    &__button.fullscreen {
        position: fixed;
        bottom: 1em;
        right: 0;
        z-index: 99;
    }
}

#inputField {
    font-size: 1em;
    color: var(--c-black);
    background: transparent;
    border: solid 2px var(--c-black);
    font-weight: 900;
    text-transform: uppercase;

    &::placeholder {
        font-weight: 700;
    }
}

// #videoContainer {
// display: block;
// }