// .app__button__button,
// .modal__button,
// .log__button {
//     background-color: var(--c-white);
//     border: .1em solid var(--c-black);
//     color: var(--c-black);
//     padding: 0.5em;
//     font-size: 1em;
//     text-transform: uppercase;
//     font-weight: 500;
//     transition: all .1s;
//     white-space: nowrap;

//     &:hover {
//         background: var(--c-black);
//         color: var(--c-white);
//         cursor: pointer;
//     }
// }

// .log__button {
//     position: absolute;
//     right: 1em;
//     background: white;
//     border-radius: 5px;
// }

.app-main-button {
    &__button-wrapper {
        display: flex;
        gap: 1em;
        padding: 1em 0;
    }

    &__button {
        padding: 0.5em;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 500;
        transition: all .1s;
        white-space: nowrap;

        &--primary {
            background-color: var(--c-white);
            border: .1em solid var(--c-black);
            color: var(--c-black);
        }

        &--secondary {
            background-color: var(--c-light-yellow);
            border: .1em solid var(--c-black);
            color: var(--c-black);
        }

        &:hover {
            cursor: pointer;

            &.app-main-button__button--primary {
                background: var(--c-black);
                color: var(--c-white);
            }

            &.app-main-button__button--secondary {
                background: var(--c-dark-green);
                color: var(--c-white);
            }
        }
    }
}