// Styles for app log component to be built.
.app_log-zone {
  background: black;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  color: var(--c-green);
  font-size: 0.75em;
  height: 5em;
  overflow-y: scroll;
  
  margin-bottom: 2em;

  position: relative;
  
  &--ps {
    height: 15em;
    background: blue;
    color: white;
  }
}

.app_log-zone-log {
  margin: 0.5em;

  a {
    color: white;
  }
}