#videoContainer {
    aspect-ratio: var(--video-aspect-ratio);
    display: none;
    margin: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 100vw;

    &.player-fullscreen {
    }
}

#localVideo{
    aspect-ratio: var(--video-aspect-ratio);
    width: 100%;
}

#drawingCanvas {
    display: flex;
    // cursor: cell;
    position: absolute;
    width: 100%;
    aspect-ratio: var(--video-aspect-ratio);
    top: 0;

}
