#videoContainer {
    position: relative;
    height: 700px;
    aspect-ratio: 16 / 9;
    display: none;
    margin: auto;
    overflow: hidden;

    &.player-fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}

#localVideo{
    aspect-ratio: 16 / 9;
    width: 100%;
}

#drawingCanvas {
    display: flex;
    cursor: cell;
    position: absolute;
    width: 100%;
    aspect-ratio: 16 / 9;
    top: 0;

}
