#videoContainer {
    position: relative;
    height: 700px;
    aspect-ratio: 16 / 9;
    display: none;
    margin: auto;
    border: solid 5px var(--c-red);
        border-radius: 10px;
    overflow: hidden;
}

#localVideo,
#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#drawingCanvas {
    height: calc(100% - 15px);
    display: flex;
    margin-top: 15px;
}
