{% extends '../layouts/base.twig' %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/home.css">
{% endblock %}

{% block sideContent %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	Version: 0.3.01
{% endblock %}


{% block content %}
	<div class="app-main__content-inner app-main-home">
		<div class="app-main-home__intro-text">
			<h2>Welcome.</h2>
			<p>Effortless screen sharing and real-time collaboration at your fingertips. No Slack Required!</p>
			<ul>
				<li>
					<strong>Share:</strong>
					Broadcast your screen and share the viewing link.
				</li>
				<li>
					<strong>Draw:</strong>
					Enter a viewing link, see the shared screen, and draw on it.
				</li>
			</ul>
		</div>
		<div class="app-main-home__function-selector-inner">
			<div class="app-main-home__function-selector-left">
				<button id="shareScreenButton" class="app__button">Share</button>
			</div>
			<div class="app-main-home__function-selector-right">
				<button id="viewScreenButton" class="app__button">Draw</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ assetPath }}/js/home.bundle.js"></script>
{% endblock %}
