{% extends '../layouts/base.twig' %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/home.css">
{% endblock %}

{% block sideContent %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	Version: 0.3.1
{% endblock %}


{% block content %}
	<div class="app-main__content-inner app-main-home">

		<div class="app-main-home__intro-text">
			<h2>Welcome.</h2>
			<p>Effortless screen sharing and real-time collaboration at your fingertips. No Slack Required!</p>
			<ul>
				<li>
					<strong>Share:</strong>
					Broadcast your screen and share the viewing link.
				</li>
				<li>
					<strong>Draw:</strong>
					Enter a viewing link, see the shared screen, and draw on it.
				</li>
			</ul>
		</div>

		{% include '../partials/buttons.twig' with { 
			buttons: [
				{ id: 'shareScreenButton', style: 'primary', label: 'Share' },
				{ id: 'viewScreenButton', style: 'primary', label: 'Draw' }
			],
			wrapper: true
		} %}


	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ assetPath }}/js/home.bundle.js"></script>
{% endblock %}
