<!DOCTYPE html>
<html>
	<head>
		<title>W.I.L.L.Y  0.3.1</title>
		<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/overlay.css">
	</head>
	<body>
		<canvas id="overlayCanvas" style="width: 100%; height: 100%;"></canvas>
	</body>
	<script src="{{ assetPath }}/js/overlay.bundle.js"></script>
</html>
