{% extends '../layouts/base.twig' %}

{% block title %}W.I.L.L.Y SHARE
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/share.css">
{% endblock %}

{% block sideContent %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	<h1 class="app-main__title">SHARE</h1>
{% endblock %}

{% block content %}
	<div class="app-main__content-inner app-main-share">

		<div class="app_log-zone"></div>

		<!-- Screen Picker -->
		<div id="screen-picker">
			<ul id="screen-list"></ul>
		</div>

		<div class="app_log-zone app_log-zone--ps" style="display: none;">
			<button class="log__button">Copy to clipboard</button>
			<div class="app_log-zone-log">
				<strong>Connection Succesful!</strong>
			</div>
		</div>


		<div class="app-main-share__button-wrapper">
			<button id="backButton" class="app__button app-main-share__button" onclick="location.href='index.html'">Go Back</button>
		</div>
	</div>

{% endblock %}


{% block scripts %}
	<script src="{{ assetPath }}/js/share.bundle.js"></script>
{% endblock %}
