{% extends '../layouts/base.twig' %}

{% block title %}W.I.L.L.Y SHARE
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/share.css">
{% endblock %}

{% block sideContent %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	<h2 class="app-main__sub-title">SHARE</h2>
{% endblock %}

{% block content %}
	<div class="app-main__content-inner app-main-share">
		{% include '../components/logZone.twig' %}
		{% include '../components/screenPicker.twig' %}
		{% include '../components/logZonePs.twig' %}


		<div class="app-main-share__button-wrapper">
			<button id="backButton" class="app__button app-main-share__button" onclick="location.href='index.html'">Go Back</button>
		</div>
	</div>

{% endblock %}


{% block scripts %}
	<script src="{{ assetPath }}/js/share.bundle.js"></script>
{% endblock %}
