{% extends '../layouts/base.twig' %}

{% block title %}W.I.L.L.Y SHARE
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/share.css">
{% endblock %}

{% block pageTitle %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	<h2 class="app-main__sub-title">SHARE</h2>
{% endblock %}

{% block content %}


	<div class="app-main__content-inner app-main-share">

		{% include '../partials/log.twig' with {'theme': 'dos', 'hide': false} %}
		{% include '../components/screenPicker.twig' %}
		{% include '../partials/log.twig' with {'theme': 'ps', 'logMessage': 'Connection Succesful!', 'hide': true} %}
		{% include '../partials/buttons.twig' with { 
			buttons: [
				{ id: 'shareScreenButton', style: 'primary', label: 'Go Back', onclick: "location.href='index.html'" },
			],
			wrapper: true
		} %}
	</div>

{% endblock %}


{% block scripts %}
	<script src="{{ assetPath }}/js/share.bundle.js"></script>
{% endblock %}
