{% extends '../layouts/base.twig' %}

{% block title %}W.I.L.L.Y VIEW
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/view.css">
{% endblock %}

{% block pageTitle %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	<h1 class="app-main__sub-title">DRAW</h1>
{% endblock %}

{% block content %}
	<div class="app-main__content-inner app-main-view">
		{% include '../partials/log.twig' with {'theme': 'dos', 'hide': false} %}
		{% include '../partials/inputs.twig' with { 
			inputs: [
				{ placeholder: 'Enter your name', id: 'nameField', type: 'text', maxlength: '12' },
				{ placeholder: 'Input Share ID', id: 'inputField', type: 'text' }
			],
			wrapper: true,
		} %}
		{% include '../partials/buttons.twig' with { 
			buttons: [
				{ id: 'viewButton', style: 'primary', label: 'Connect' },
				{ id: 'shareScreenButton', style: 'primary', label: 'Go Back', onclick: "location.href='index.html'" },
			],
			wrapper: true
		} %}
		{% include '../components/video-player.twig' %}
		{% include '../components/pen-menu.twig' %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ assetPath }}/js/view.bundle.js"></script>
{% endblock %}
