{% extends '../layouts/base.twig' %}

{% block title %}W.I.L.L.Y VIEW
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ assetPath }}/css/view.css">
{% endblock %}

{% block sideContent %}
	<h1 class="app-main__title">W.I.L.L.Y</h1>
	<h1 class="app-main__sub-title">DRAW</h1>
{% endblock %}

{% block content %}
	<div class="app-main__content-inner app-main-view">

		<div class="app-main-view__input-wrapper" id="inputWrapper">
			<input placeholder="Enter your name" id="nameField" type="text" maxlength="12">


			<input placeholder="Input Share ID" id="inputField" type="text">
			<button id="viewButton" class="app__button app-main-view__button--connect">Connect</button>
		</div>
		<div id="statusWrapper" class="app-main-view__input-wrapper" style="display: none;">
			<p id="statusMessage">Connecting...</p>
			<button id="retryButton" class="app__button app-main-view__button--retry" style="display: none;">Retry</button>
		</div>
		<div class="app-main-view__button-wrapper">
			<button class="app__button app-main-view__button" onclick="location.href='index.html'">Go Back</button>
		</div>
		{% include '../components/videoPlayer.twig' %}

		<div id="drawingMenu" class="bottom-menu">
			<div class="pen-container" id="penContainer">
				<div class="pen-body" id="penBody"></div>
				<div class="slider-container" id="sliderContainer">
					<label for="penColor">Pen Color:</label>
					<input type="color" id="penColor" name="penColor" value="#ff0000">
					<label for="penWidth">Pen Width:</label>
					<input type="range" id="penWidth" name="penWidth" min="1" max="22.5" value="9">
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ assetPath }}/js/view.bundle.js"></script>
{% endblock %}
