// Normalize
@import "../normalize.scss";

// Css Variables
:root {
    // Colours
    --c-black: #140d0a;
    --c-white: #f4f4f4;
    --c-yellow: #faea31;
    --c-green: #109648;
    --c-red: #D62828;
    --c-light-green: #2a6365;
    --c-light-yellow: #eee8b8;
    --c-dark-green: #004b4f;
    // Fonts
    --f-primary: "Helvetica", sans-serif;
}

// Defaults
* {
  font-family: var(--f-primary);
}

body {
  overflow: hidden;
  background: radial-gradient(circle, rgba(227,227,227,1) 0%, rgba(246,246,246,0.804359243697479) 0%, rgba(255,255,255,1) 100%);
}

.app-main,
.modal-main {
  margin: 0 1em;
  min-height: 100vh;
}

