// Normalize
@import "../normalize.scss";

// Google Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Css Variables
:root {
    // Colours
    --c-black: #140d0a;
    --c-yellow: #faea31;
    --c-green: #109648;
    --c-red: #D62828;
    --c-light-green: #2a6365;
    --c-light-yellow: #eee8b8;
    --c-dark-green: #004b4f;
    // Fonts
    --f-primary: "Poppins", sans-serif;
}

// Defaults
* {
  font-family: var(--f-primary);
}