:root {
  --c-black: #1E2019;
  --c-yellow: #E2C044;
  --c-green: #109648;
  --c-red: #D62828;
}

html, body {
  background: var(--c-black);
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6,p {
  color: #E2C044;
  font-family: monospace;
}

.app-main {
  &__title {
    margin-top: 2rem;
    margin-bottom: 0px;
    font-size: 2rem;
    text-align: center;

  }
  
  &__version {
    text-align: center;
    margin: 0px;
    color: var(--c-green);

    margin-bottom: 2em;
  }

  &__input-container {
    display: flex;
    justify-content: center;
  }
}

#videoContainer {
    position: relative;
    height: 700px;
    aspect-ratio: 16 / 9;
    display: none;
  margin: auto;
    border: solid 2px red;
}

#localVideo,
#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#drawingCanvas {
    height: calc(100% - 15px);
    display: flex;
    margin-top: 15px;
}


#screen-picker {
  position: absolute;
  background-color: white;

  bottom: 0;
}

#uniqueId {
  text-align: center;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  margin: 0.5em;
}